@{
    ViewData["Title"] = "Home Page";
}


<body id="body-page-home">
    <section id="part-one-sobre">
        <div id="container-image-home">
            <div id="legenda-text-pratica">Prática do dia</div>
            <img id="image-home"src="~/images/image-home1.svg" />
        </div>

        <div id="text-meditacao">
            <span> Meditação </span>
            <p>
                Muitos estudos científicos já comprovaram que a meditação promove bem estar emocional e físico. Aqui vai alguns benefícios da prática:
            </p>
            <ul>
                <li>
                    Reduz o estresse
                </li>
                <li>
                    Diminui a ansiedade
                </li>
                <li>
                    Aumenta a atenção
                </li>
                <li>
                    Melhora sintomas da depressão
                </li>
            </ul>
            <p>
                Quer saber mais sobre meditação? O Grupo WIS explica! <br />
                <a href="../Home/Praticas" class="nav-link-meditacao"><button>Ver mais ></button></a>
            </p>
        </div>
    </section>

    <section class="part-comunidade anime">
        <div class="container-comunidade anime">
            <h1> Faça parte da nossa comunidade! </h1>
            <ul>
                <li class="anime">
                    Compartilhe suas experiências com outros usuários.
                </li>
                <li class="anime">
                    Saiba mais sobre o Grupos WIS.
                </li>
                <li class="anime">
                    Faça novas amizades.
                </li>
                <li class="anime">
                    Tenha acesso a todo o conteúdo totalmente gratuíto.
                </li>
            </ul>

            <a href="../Usuarios/Create" class="btn-cadastrar-comunidade">
                Cadastre-se
            </a>
        </div>

        <div class="container-chat anime">
            <img src="~/images/image-community.svg" class="anime"/>
        </div>
    </section>


    <script src="../js/Gradient.js"></script>
    <script src="../js/gradient-background.js"></script>
</body>