@page
@model WIS_PI.Views.Home.Index1Model
@{
}


<body id="body-page-praticas">
    <nav class="navbar-lateral">
        <h1>
            Praticas
        </h1>
        <hr />
        <div>
            <ul>
                <li>
                    <a href="#Pratica-do-Dia">
                        Pratica do dia
                    </a>
                </li>
                <li>
                    <a href="#Yoga">
                        Yoga
                    </a>
                </li>
                <li>
                    <a href="#Alongamento">
                        Alongamento
                    </a>
                </li>
                <li>
                    <a href="#Atividades">
                        Atividades
                    </a>
                </li>
        </ul>
        </div>
    </nav>

        <!-- PARTE PRATICA DO DIA -->
    <section class="praticas-container">
        <div id="container-image-pratica">
            <div id="legenda-text-pratica">Prática do dia</div>
            <img src="~/images/image-home1.svg" />
        </div>

        <div id="pratica-text">
            <span id="Pratica-do-Dia"> Meditação </span>
            <p>
                Muitos estudos científicos já comprovaram que a meditação promove bem estar emocional e físico. Aqui vai alguns benefícios da prática:
            </p>
            <ul>
                <li>
                    Reduz o estresse
                </li>
                <li>
                    Diminui a ansiedade
                </li>
                <li>
                    Aumenta a atenção
                </li>
                <li>
                    Melhora sintomas da depressão
                </li>
            </ul>

        </div>

    </section>
    <section class="praticas-container-tutorial">
        <div id="pratica-text-tutorial">
            <h1>Guia da Prática: </h1>

            <h2>
                1. Preparação
            </h2>
            <p>
                Procure um lugar tranquilo distante de barulhos e distrações, use roupas confortáveis para maximizar as sensações de relaxamento que as técnicas proporcionam.
            </p>

            <h2>
                2. Fixe um momento de seu dia para realizar a meditação.
            </h2>
            <p>
                Para evitar distrações, fixe um momento de sua rotina para realizar a meditação. Isso ajudará a se concentrar e construir o hábito de meditar.
            </p>
            <h2>
                3. Use um cronometro
            </h2>
            <p>
                É possível realizar sessões de 3 a 5 minutos, ou estender esse tempo até 30 minutos, se preferir. Use o intervalo de tempo mais adequado para si.
            </p>
            <h2>
                4. Descubra uma posição confortável
            </h2>
            <p>
                Sentar em posição de lótus, ou índio, é uma referência muito presente quando procuramos saber como meditar. Porém não é uma regra universal, fique da posição mais confortável possível para si.
            </p>
            <h2>
                4. Descubra uma posição confortável
            </h2>
            <p>
                Sentar em posição de lótus, ou índio, é uma referência muito presente quando procuramos saber como meditar. Porém não é uma regra universal, fique da posição mais confortável possível para si.
            </p>
            <h2>
                5. Foque em sua respiração
            </h2>
            <p>
                A tática de dar atenção à respiração proporciona o efeito básico da atividade: direcionar o pensamento para algo concreto, favorecendo a concentração num único ponto e, ao mesmo tempo, trazendo sensações de tranquilidade.
            </p>
            <h2>
                6. Utilize meditação guiada
            </h2>
            <p>
                A meditação guiada é uma narrativa proposta por um instrutor, te auxiliará nos pensamentos e atitudes durante a meditação. É possível encontrar meditações guiadas buscando na internet, como no YouTube, por exemplo.
            </p>
        </div>
    </section>

        <!-- PARTE DE YOGA -->
    <section class="praticas-container anime">
        <div id="container-image-pratica">
            <div id="legenda-text-pratica">Yoga</div>
            <img src="~/images/yoga-image.svg" />
        </div>

        <div id="pratica-text">
            <span id="Yoga"> Yoga </span>
            <p>
                O Yoga é uma prática que contém diversos benefícios para seu físico e mental. Sendo algumas delas:
            </p>
            <ul>
                <li>
                    Imunidade em alta
                </li>
                <li>
                    Melhora no desempenho físico
                </li>
                <li>
                    Diminui o estresse
                </li>
                <li>
                    Melhora a qualidade de sono
                </li>
            </ul>

        </div>

    </section>
    <section class="praticas-container-tutorial">
        <div id="pratica-text-tutorial">
            <h1>Guia da Prática: </h1>

            <h2>
                1. Separe um local amplo e espaçoso
            </h2>
            <p>
                Para praticar yoga em casa não é necessário ter uma sala específica. Porém, o espaço onde a atividade será realizadas deve ser amplo, espaçoso e confortável.
            </p>

            <h2>
                2. Escolha um horário em que esteja livre de distrações.
            </h2>
            <p>
                Para praticar o yoga é necessário foco e concentração. Um ambiente silencioso é o ideal para a prática.
            </p>
            <h2>
                3. Comece com posturas fáceis
            </h2>
            <p>
                Se você está iniciando a prática, é altamente recomendável que comece com posturas fáceis. Procure por aulas iniciantes na internet, para aprender mais sobre as posturas e práticas do yoga.
            <h2>
                4. Utilize roupas confortáveis
            </h2>
            <p>
                Utilize roupas mais justas, flexíveis e confortáveis para a prática. A utilização de roupas largas podem atrapalhar durante o alongamento.
            </p>
            <h2>
                5. Use um fundo musical para praticar yoga
            </h2>
            <p>
                Um fundo musical calmo e relaxante pode te ajudar a se concentrar e relaxar durante a prática. A música deve ser calma e leve para combinar com o exercício.
            </p>
            <h2>
                5. Foque em sua respiração
            </h2>
            <p>
                A tática de dar atenção à respiração proporciona o efeito básico da atividade: direcionar o pensamento para algo concreto, favorecendo a concentração num único ponto e, ao mesmo tempo, trazendo sensações de tranquilidade.
            </p>
            <h2>
                6. Utilize aulas onlines
            </h2>
            <p>
                Práticar yoga não é uma tarefa fácil, as aulas onlines são essenciais para te ajudar com isso, pois com instrução profissional você alcançará todos os objetivos com o yoga.
            </p>
        </div>
    </section>

    <!-- PARTE DE ALONGAMENTO -->
        <section class="praticas-container anime">
        <div id="container-image-pratica">
            <div id="legenda-text-pratica">Alongamento</div>
            <img src="~/images/alongamento-image.svg" />
        </div>

        <div id="pratica-text">
            <span id="Alongamento"> Alongamento </span>
            <p>
                O alongamento pode ser uma prática essencial para começar a sua rotina! Alguns benefícios são:
            </p>
            <ul>
                <li>
                    Melhora a postura
                </li>
                <li>
                    Diminui a dor nas costas
                </li>
                <li>
                    Reduz a dor muscular
                </li>
                <li>
                    Previne lesões musculares
                </li>
            </ul>

        </div>

    </section>
    <section class="praticas-container-tutorial">
        <div id="pratica-text-tutorial">
            <h1>Guia da Prática: </h1>

            <h2>
                1. Relaxe seus músculos
            </h2>
            <p>
                Os movimentos de alongamento devem ser feitos relaxando-se a musculatura trabalhada, de forma estável e mantendo-se a atenção sobre os músculos que estão sendo alongados naquele momento.
            </p>

            <h2>
                2. Escolha o tipo de alongamento que deseja executar.
            </h2>
            <p>
                Há diferentes tipos de alongamento, cada um tem propósitos específicos, sendo eles: Estático, Ativo, Dinâmico e Passivo.
            </p>
            <h2>
                • Estático
            </h2>
            <p>
                Bastante conhecido, trata-se do tipo de exercício que é executado enquanto a pessoa está em repouso. No alongamento estático, você deve esticar o músculo até atingir uma determinada posição, mantendo-o assim por aproximadamente 30 segundos. A ideia é que você se alongue até chegar a um limite considerado confortável.
            </p>
            <h2>
                • Ativo
            </h2>
            <p>
                Para o alongamento ativo, você realiza um movimento que força a amplitude articular mas não precisa de nenhum auxílio de “forças externas” para atingir a amplitude de movimento.
            </p>
            <h2>
                • Dinâmico
            </h2>
            <p>
                A sua principal característica é alongar por meio de movimentos balísticos, repetitivos, melhorando a amplitude de movimento.
            </p>
            <h2>
                • Passivo
            </h2>
            <p>
                Para o alongamento passivo, você necessita de forças externas para trabalhar a sua flexibilidade ao máximo, como um parceiro que o auxilie, pesos e até mesmo a gravidade. Com ele, pode-se obter um maior relaxamento dos músculos.
            </p>
            <h2>
                3. Utilize videos instrutivos para realizar o alongamento.
            </h2>
            <p>
                Utilizando videos instrutivos, você poderá obter detalhes de como realizar o exercício, além da sequência ideal para seu corpo. Lembre-se de ter cautela para não acabar se machucando.
            </p>
        </div>
    </section>

    <!-- PARTE DE ATIVIDADES -->
    <section class="praticas-container anime" id="Atividades">
        <div id="container-image-pratica">
            <div id="legenda-text-pratica">Atividades</div>
            <img id="image-atividades" src="~/images/atividades-image.svg" />
        </div>

        <div id="pratica-text">
            <span id="Alongamento"> Atividades </span>
            <p>
                Há atividades que você pode adotar na rotina para melhorar sua saúde mental. São elas:
            </p>
            <ul>
                <li>
                    Alimentação Saudável
                </li>
                <li>
                    Melhorar a qualidade do sono
                </li>
                <li>
                    Fazer terapia
                </li>
            </ul>

        </div>

    </section>
    <section class="praticas-container-atividades">
        <div id="pratica-text-tutorial">
            <h1>Informações: </h1>

            <h2>
                • Alimentação Saudável
            </h2>
            <p>
                A alimentação equilibrada é indicada em qualquer contexto de saúde. Portanto, ela também importa na saúde mental. Um cardápio rico e variado em vegetais e alimentos saudáveis é capaz de fornecer nutrientes importantes para o bem-estar.
            </p>

            <h2>
                • Melhorar a qualidade do sono
            </h2>
            <p>
                Tanto a saúde mental quanto a emocional dependem da qualidade do sono. Quem não dorme bem apresenta mais tendência a problemas de memória e dificuldades de concentração, por exemplo.
            </p>
            <h2>
                • Terapia
            </h2>
            <p>
                As terapias servem para que a pessoa consiga lidar de uma melhor forma com as suas questões emocionais, principalmente as questões emocionais que tiveram grande impacto em sua vida. 
                Apesar de ainda existir opiniões equivocadas sobre o acompanhamento terapêutico, mais pessoas estão procurando profissionais para se autoconhecer ou para superar problemas que parecem insolúveis à primeira vista.
                A terapia contém diversos benefícios, sendo alguns deles: Promover o autoconhecimento; Aliviar tensões ou situações ruins; Desenvolver inteligência emocional; Melhorar relacionamentos;
            </p>
        </div>
    </section>

</body>
