@page
@model WIS_PI.Views.Home.SobreModel
@{
}


<body id="body-page-sobre">
   
    <section id="part-one-body">
        <div class="container-sobre ">
            <img src="/images/img1.svg" />
        </div>
        <div id="text-sobre">
            <span> Sobre Nós </span>

            <p>
                Somos uma ONG sem fins lucrativos. Em tempos de incerteza, é fácil se sentir sobrecarregado(a) e estressado(a),
                com isso em mente, desenvolvemos um site na qual tem o objetivo auxiliar no bem-estar mental das pessoas.
                Proporcionamos diversos meios para ajudar de forma divirtida e se desejar,
                podem compartilhar suas experiências com outros usuários.
            </p>

        </div>
    </section>
</body>